.hyperstack {
  font-family: sans-serif;
}

.timeline {
  display: flex;
  background-color: rgba(255, 255, 255, 0.7); /* Semi-transparent white */
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.timeline-labels {
  display: flex;
  padding: 10px 20px;
}

.timepoint {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dot {
  height: 10px;
  width: 10px;
  background-color: black;
  border-radius: 50%;
}
